<div id="relative-form" ng-controller="signup-ctrl">
    <div ng-show="messages" class="alert" ng-class="alert">{{messages}}</div>
    
    <form class="form-custom-center" name="signup">
        <h1>Cadastro</h1>
    <p>Entre com suas informações para começar a organizar suas contas! </p>
        <label>Nome de usuário:</label>
        <input type="text" name="username" ng-model="username" required/>
        <label>Senha:</label>
        <input type="password" name="password" ng-model="password" required/>
        <label>Repita a senha:</label>
        <input type="password" name="password_confirmation" ng-model="password_confirmation" required/>
        <button ng-show="signup.username.$valid && signup.password.$valid && signup.password_confirmation.$valid"
            class="btn btn-primary" 
            ng-click="submitUser(username, password, password_confirmation)">
            Enviar</button>
        <p>Já sou cadastrado ? <a href="#!">entrar</a></p>
    </form>
</div>